/*Main Body, used for most sites*/
/*body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}*/
/*Nav Bar*/
nav a {
    margin-right: 10px;
    color: light-blue;
    text-decoration: none;
}
.left h3 {
    text-align: left
}
.darkmode {
  background-color: #222;
  color: #eee;
}
